<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}" />
    </head>
    <body>
        <p id="pls_register">Please Log In to Play</p>
        {% block main_content %}
        <section class="loginpage">
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }}
                {{ form.user_id.label }}
                {{ form.user_id() }}
                {% for error in form.user_id.errors %}
                    {{ error }}
                {% endfor %}
                <br /> 
                {{ form.password.label }}
                {{ form.password() }}
                {% for error in form.password.errors %}
                    {{ error }}
                {% endfor %}
                <br />
                {{ form.submit() }}
            </form>
        </section>

    {% endblock %}
    </body>
</html>